<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

  {% include nav.html %}

  <main class="container">
    {{ content }}
    {% if page.layout == "post" %}
  <p class="reading-time">
    ⏱ 
    {% assign words = content | number_of_words %}
    {% assign minutes = words | divided_by: 200 | plus: 1 %}
    {{ minutes }} min read
  </p>
{% endif %}
  </main>

</body>
</html>